.scrollCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden;
}
.scrollCards img {
  width: 100%;
  height: auto;
  object-fit: cover;
  animation-name: scrollview;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: 4s;
  animation-direction: alternate-reverse;
}

@keyframes scrollview {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-9.375rem * 10));
  }
}
