.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: auto;
  object-fit: fill;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  overflow-x: hidden;

}

@media screen and (max-width: 600px) {
  .banner svg {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin-top: -50%;
    max-width: 50%;
    height: auto;
  }
}

.sizebox {
  width: 100%;
}

.TumbProjects{
  margin: auto;
  max-width: 80%;
}


.TumbProjects img{
  
  margin-top: 20%;
  object-fit: cover;
  height: auto;
  width: 100%;

  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: none;
}





.rewards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

  width: 100%;
  height: auto;
  border-radius: 20px;

  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.12));
}
 .sizeBox{
   width: 100%;
 }





@media screen and (max-width: 900px) {
  .sizeBox{
    width: 70%;

  }
  
}
.vl {
  border-left: 2px solid #b1b4c4;
  border-radius: 2px;
  height: 80px;
}

@media screen and (max-width: 600px) {
  .vl {
    border-left: none;
    border-bottom: 2px solid #b1b4c4;
    border-radius: 2px;
    height: 10px;
  }
}


