

.teste{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	
}

.cardeffect{
	background: #F7F7F7;
	padding: 5px;
	margin: 0px;
	max-width: 100%;
  height: auto;
  object-fit: fill;
	
}

.animationX{
	animation: animateeffect 80s linear infinite;
	animation-delay:-40s;
	animation-iteration-count: infinite;
}

@keyframes animateeffect {
0% {
transform:translateX(-100%);
}
100%{
transform: translateX(100%);
}
}



.animation-X{
	animation: animateeffect-x 80s linear infinite;
	animation-delay:-40s;
	animation-iteration-count: infinite;
}


@keyframes animateeffect-x {
0% {
transform:translateX(100%);
}
100%{
transform: translateX(-100%);
}
}