


.BtnPrimary{
	font-weight: bold !important;
	background: #D500F9;
	border: none !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
	margin: 5px;
  padding: 5px 5px;

}

.btn-link{
	color:  #D500F9 !important;
}

.ml-btn{
	display:grid; 
	margin-left:0;
	margin-right:auto;
}
.BtnSecundary{
	font-weight: bold !important;
	background: none;
	white-space: nowrap;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 5px;
  padding: 5px 5px;
  border:1px solid #D500F9;
  
	
}
