.textIcon {
  padding: 0px !important;
  margin: 0px;
  align-content: center;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 85%;
  line-height: auto;
  max-width: 80%;
  align-items: left;
}

.h1-md {
  font-size: 5vw !important;
  letter-spacing: -0.03em !important;
}

@media only screen and (max-width: 600px) {
  .h1-md {
    font-size: 200% !important;
  }
}

.margemtop {
  margin-top: 5%;
}

.backgoundcaroussel {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}
.centralized.margemtop.row {
  z-index: 1;
}

.iconAbsoluted {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mao,
.dedo,
.flash {
  position: absolute;
}
.mao {
  right: 0;
  top: 8rem;
}
.dedo {
  left: calc(50% - 15rem);
  margin-block-start: 1.5rem;
  transition: 300ms;
  z-index: 2;
}
.dedo:hover {
  transform: rotate(30deg);
}
.flash {
  top: 14rem;
  left: 0;
  animation: slow 1.5s infinite;
}
@keyframes slow {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
.centralized.margemtop.row .BtnPrimary:hover ~ .dedo {
  transform: rotate(30deg);
}
.eye {
  position: absolute;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 100%;
  right: 5rem;
  top: 23rem;
  z-index: 3;
}

@keyframes fade {
  from {
    background-color: rgba(213, 0, 249, 0.5);
  }
  to {
    background-color: rgba(213, 0, 249, 0);
  }
}
.Carousel {
  padding: 0px;
}

.CarouselImg {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  object-fit: fill;
  border: none;
}

.capasize {
  display: absolute;
  padding: 0px;
  margin: 0px;
  height: 80vh;
  width: 80vw;
}

.ml-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding: 0;
}
.iris {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 1.5rem;
  top: 0.25rem;
  background:url("./images-carousel/iris.png") no-repeat;

}

.eyeBall {
  position: relative;
  width: 9.375rem;
  height: 9.375rem;
  background:url("./images-carousel/eye-0.png") no-repeat;
  z-index: 1;
  overflow: hidden;
}

.eyeLid {
  position: absolute;
  border-radius: 100% 0;
  width: 50px;
  height: 50px;
  background:red;
  transform: rotate(45deg);
  transition: .2s;
  z-index: 10;
}

.eye:hover .eyeLid {
  transform: rotate(-45deg) rotateX(160deg);
}

.lid {
  position: absolute;
  z-index: 9;
  width: 6rem;
  height: 6rem;
  transition: .2s;
  /* background: no-repeat url("data:image/svg+xml,%3Csvg width='81' height='41' viewBox='0 0 81 41' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M40.5 1.51807C60.4183 1.51807 76.849 16.4499 79.2091 35.7305C79.1314 35.636 79.0522 35.5402 78.9717 35.4432C76.8888 32.9325 73.8728 29.5823 70.1405 26.2278C62.7268 19.5643 52.2483 12.6687 40.5 12.6687C28.7517 12.6687 18.2732 19.5643 10.8595 26.2278C7.12718 29.5823 4.1112 32.9325 2.02826 35.4432C1.94777 35.5402 1.86865 35.636 1.79093 35.7305C4.15099 16.4499 20.5817 1.51807 40.5 1.51807Z' fill='%239E5AFF' stroke='black' stroke-width='3' /%3E%3C/svg%3E%0A"); */
  /* left: -5rem; */
  /* transform: rotateX(45deg); */
}
/* .lid::after {
  display: inline-block;
  content: "";
  background: #7c47ca;
  width: 5.5rem;
  height: 1rem;
  transition: .2s;
  z-index:-1;
  opacity: 0;
} */
/* .eye:hover .lid::after {
  opacity: 1;
  transform: translateY(2.5rem);
} */