.textIcon {
  padding: 0px !important;
  margin: 0px;
  align-content: center;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 85%;
  line-height: auto;
  max-width: 80%;
  align-items: left;
}

.h1-md {
  font-size: 5vw !important;
  letter-spacing: -0.03em !important;
  /* white-space: nowrap; */
}

@media only screen and (max-width: 600px) {
  .h1-md {
    font-size: 200% !important;
  }
}

.margemtop {
  margin-top: 5%;
}

.backgoundcaroussel {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
}
.centralized.margemtop.row {
  z-index: 1;
}

.iconAbsoluted {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mao,
.dedo,
.flash {
  position: absolute;
}
.mao {
  right: 0;
  top: 8rem;
}
.dedo {
  bottom: 5rem;
  left: calc(50% - 15rem);
  transition: 300ms;
  z-index: 2;
}
.dedo:hover {
  transform: rotate(30deg);
}
.flash {
  top: 14rem;
  left: 0;
  animation: slow 1.5s infinite;
}
@keyframes slow {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
.centralized.margemtop.row .BtnPrimary:hover ~ .dedo {
  transform: rotate(30deg);
}
.eye {
  position: absolute;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 100%;
  right: 8.5rem;
  top: 23rem;
  z-index: 3;
}

@keyframes fade {
  from {
    background-color: rgba(213, 0, 249, 0.5);
  }
  to {
    background-color: rgba(213, 0, 249, 0);
  }
}
.Carousel {
  padding: 0px;
}

.CarouselImg {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  object-fit: fill;
  border: none;
  /* border: 3px solid #DA1F50; */
}

.capasize {
  display: absolute;
  padding: 0px;
  margin: 0px;
  height: 80vh;
  width: 80vw;
}

.ml-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding: 0;
}

/* card-carousel */

/* 
.containercarousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.cardsvg {
    position: absolute;
    height: auto;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.textcard {
    position: relative;
    width: 40%;
    height: auto;
    max-width: 100%;
    top: 50%;
    left: 8%;
    transform: translate(-5%, -120%);
}

@media screen and (max-width: 600px) {
    .textcard {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .cardsvg {
        width: 80%;
    }
} */
