.content-all {
  width: 210px;
  margin: auto;
  height: 350px;
  perspective: 800px;
  position: relative;
  margin-top: 20%;
}

.content-carrousel {
  width: 100%;
  height: 350px;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 150%;
  height: 250px;
  position: absolute;
  transition: all 300ms;
}

.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(180px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(45deg) translateZ(180px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(90deg) translateZ(180px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(135deg) translateZ(180px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(180deg) translateZ(180px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(225deg) translateZ(180px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(270deg) translateZ(180px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(315deg) translateZ(180px);
}


.content-carrousel img {
  width: 100%;
  height: 250px;
  transition: all 300ms;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
