@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.LogoHeader {
  height: 50px;
  width: 100px;
}

.ModeBtn {
  width: 30px;
  height: 30px;
}

.BtnTheme {
  position: relative;
  border: none;
  background-color: rgba(59, 59, 59, 0) !important;
}

.butonsCol,
.dropdownCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .container-fluid > .show {
    background: white !important;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
    display: flex !important;
    padding: 0 2% !important;
  }
  .container-fluid > .show .intensNav {
    margin: 2% 0 !important;
  }

  .butonsCol {
    display: flex;
    flex-direction: column;
  }

  .dropdownCol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 575px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
}

.margin {
  margin-left: 4%;
}
