@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap);

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.LogoHeader {
  height: 50px;
  width: 100px;
}

.ModeBtn {
  width: 30px;
  height: 30px;
}

.BtnTheme {
  position: relative;
  border: none;
  background-color: rgba(59, 59, 59, 0) !important;
}

.navbar {
  background: transparent !important;
}

.margin{
  margin-left: 5%;
}
