@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&display=swap);

* {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  height: auto;

  background: #f6f6f6;
  border-radius: 20px;
  margin: 50px; /* separção entre cards */
}

.imgcard {
  display: flex;
  width: 140px;
  height: 140px;
  margin-top: -50px;
  align-items: center;
  padding: 16px;
  object-fit: cover;
  background: #d500f9;
  border-radius: 100%;
}

.lottiecard {
  display: flex;
  width: 140px;
  height: 140px;
  margin-top: -20px;
  align-items: center;
  padding: 16px;
  background: #d500f9;
  border-radius: 100%;
}

.lottieimg svg {
  align-items: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.p-title {
  border-bottom: 2px solid #d500f9;
  font-weight: bold;
  font-size: 100%;
  line-height: 200%;
}

.p-subtitle {
  font-weight: normal;
  font-size: 120%;
  
}


.p-subtitle1 {
  font-weight: normal;
  font-size: 150%;
}

.opacity-1 {
  opacity: 0.35;
}

.textbold {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 180%;
  line-height: 100%;
}

#textdecoration {
  color: #d500f9 !important;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0%;
}

.centralized {
  justify-content: center;
  text-align: center;
}

.alingleft {
  text-align-last: left;
}

.bg404error {
  background: url("./assets/404error.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  vertical-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.light {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.errortext {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textbox {
  width: 80%;
}

.textcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
